* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #338cf4;
  }
  .container {
    background-color: #ffffff;
    width: 190vmin;
    /* height: 130vmin; */
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
  }
  .options label,
  .options select {
    font-family: "Poppins", sans-serif;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
  }
  .active {
    background-color: #e0e9ff;
  }

  .simple-image {
    padding: 20px 0;
}

.simple-image input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

#main{

    position: relative;
    top: 170px;
    left: 450px;
    /* bottom: 15px; */
    width: 130px;
}
#lnch {
    font-size: 18px;
    color: #fff;
    line-height: 1;
    padding: 10px 14px;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s ease background-color, 0.5s ease box-shadow;
    background: #e74c3c;
    /* box-shadow: 0 20px 30px -6px #e74c3c; */
  }
  #lnch_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    padding: 8px 8px;
    cursor: pointer;
    transition: 0.3s ease transform;
  }
  #lnch.launching {
    background-color: #f39c12;
    /* box-shadow: 0 20px 30px -6px #f39c12; */
  }
  #lnch_btn.launching {
    transform: rotateZ(-90deg);
    animation: shake 0.3s ease 0.5s infinite;
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
    }
    20%,
    80% {
      transform: translate3d(1px, 0, 0) rotateZ(-90deg);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
    }
    40%,
    60% {
      transform: translate3d(1px, 0, 0) rotateZ(-90deg);
    }
  }
  
  #lnch.launched {
    background-color: #27ae60;
    /* box-shadow: 0 20px 30px -6px #27ae60; */
  }
  
  #lnch_btn.launched {
    transform: rotateZ(-90deg);
    animation: moveUp 1s ease 0s forwards;
  }
  @keyframes moveUp {
    0% {
      margin-top: 0;
      transform: scale(1) rotateZ(-90deg);
    }
    100% {
      color: #ff1f5a;
      margin-top: -100px;
      transform: scale(0) rotateZ(-90deg);
    }
  }
  